PS_START_TIME=1506463200000 # new Date(2017, 8, 26, 18, 0, 0, 0).getTime()
PS_END_TIME=1506549600000 # new Date(2017, 8, 27, 18, 0, 0, 0).getTime()
PS_WALLET="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
MNEMONIC=twelve words you can find in metamask/settings/reveal seed words baz
INFURA_KEY=xooooooooooooooooooo
