PS_START_TIME="2017-8-26-12-0"
PS_END_TIME="2017-8-18-0-0"
RELEASE_DATE="2018-1-1-0-0"
RESERVE_ACCOUNT="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
FUND_ACCOUNT="0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
MNEMONIC="twelve words you can find in metamask/settings/reveal seed words baz"
INFURA_KEY=xooooooooooooooooooo

# Note: PS_START_TIME, PS_END_TIME and RELEASE_DATE will be converted in unix epoch time by 2_deploy_contracts.js migration using the users computer time zone. The valid format is: YY-MM-DD-hh-mm