:root {
    --aqua-green-two: #12e9a2;
    --aqua-green: #14e9a3;
    --azure: #00a3f5;
    --dark-sky-blue: #33a2ee;
    --dark: #1f252c;
    --greyish-brown: #404040;
    --turquoise-green: #00ee9c;
    --warm-grey: #999;
    --white: #f0f0f0;
}

body, h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
}

h1, h2 {
  margin: 20px 0 20px 0;
}

table li {
    height: 28px;
}

input {
    width: 330px;
}

small {
    display: block;
    margin-bottom: 15px;
}

#App {
    font-family: Lato;
    color: var(--greyish-brown);
    & table td {
        vertical-align: middle;
    }
}

.container {
    width: 95%;
}

.args {
    text-align: right;
}

.code {
  font-family: 'Ubuntu Mono';
}

.contract .btn {
    width: 90%;
}

.selected {
    background-color: #f7f8fa;
}

.event {
    background-color: #f7f8fa;
    color: #c2c7cc;
}

.bold {
  font-weight: bold;
}

.output {
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--greyish-brown);
    color: white;
    border-radius: 5px;
}
